 
.container {
    width: 80%;
    height: 90vh;
    margin: auto;
    padding: 11px;
  }
  
  .data-container {
    height: 72%;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .show-qns {
    background-color: rgb(244, 244, 244);
    border-radius: 22px;
    padding: 11px;
  }
  
  .hide-qns {
    display: none;
  }
  
  .ans {
    padding: 9px;
  }
  
  .input-container {
    width: 80%;
    height: 25%;
    border-radius: 22px;
    box-shadow: 0px 3px 3px 2px rgb(239, 238, 238);
    border-top: 1px solid silver;
    position: fixed;
    top: 70%;
  }
  
  .input-container input {
    width: 90%;
    border: none;
    outline: none;
    padding: 17px;
  }
  
  .input-container button {
    width: 90px;
    height: 33px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 18px;
    font-size: 16px;
    margin-top: 80px;
    margin-left: 15px;
  }
  
  .loader {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 44px;
  }

  